node_modules/
!tests/__fixtures__/**/node_modules/
*.*~
*.db
.goutputstream-*
*.bac
/.project
coverage/
.coverage/
dist
bin
docs/dist
npm-debug.log
/.nyc_output
.vscode/
.fixtures-temp
/codecov
/codecov.exe
